<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap" rel="stylesheet">
    <title>Prescription</title>
    <style>
        body {
            font-family:'Noto Sans Bengali',Arial, sans-serif;
            margin: 0px;
            padding: 20px;
            color: #333;
        }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        .Main {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            max-height: 620px;
            max-width: auto;
            border-bottom: 2px solid;
            margin-bottom: 10px;
        }

        .milon {
            height: 620px;
            border-left: 2px solid;


        }

        .Medicine_Info {
            width: 100%;
        }

        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 0;
        }

        .header2 {
            text-align: right;

        }

        .footer2 {
            text-align: left;
        }

        .header1,
        .header2 {
            flex: 1;
        }

        .header1 p,
        .header2 p {
            margin: 5px 0;
        }

        .header1 p:first-child,
        .header2 p:first-child {
            font-size: 20px;
            color: darkgreen;
        }

        .header1 p:last-child,
        .header2 p:last-child {
            color: red;
        }

        .details p {
            display: flex;
            border-bottom: 2px solid;
            border-top: 2px solid;
            justify-content: space-between;
            padding: 12px;
            margin: 0px;

        }

        .others {
            max-height: 700px;
            width: 300px;
            max-width: 350px;

        }

        .others p {
            font-size: 12px;
            margin-top: 5px;
        }

        .medicine-table {
            border-collapse: collapse;
            
            width: 550px;
            max-width: auto;
            margin-left: 40px;

            margin-top: 0px;


        }

        .medicine-table td {
            padding: 2px;

        }

        .serial p {
            display: flex;
            justify-content: center;
            justify-items: center;
            border: 2px solid;
            border-radius: 3px;
            border: 3px solid #ff6600;
            text-align: center;
            color: red;
            max-width: fit-content;
            max-height: fit-content;
            margin: auto;
            padding: 10px;

        }

        #medicine_rule_days {
            font-size: 15px;
          
        }

        #medicine_name {
            font-size: 20px;
         font-weight: 530;
          

        }

        li {
            margin-left: 1px;
            font-size: 14px;
            width: 300px;
            max-width: 300px;
           
        }
        sub{
            font-size: 15px;
        }
        .rx{
            margin-top: 12px;
            margin-left: 15px;
            height:3px;
            font-weight: larger;
            font-size: 25px;
            color:#1a213fe2;

           
        }

    </style>
</head>

<body>
    <div class="header-container">
        <div class="header1">
            <p>ডাঃ মোঃ সালমান ফার্সি</p>
            <p style="color: #007BFF; font-size: 16px;">বি. এন. এম সি (ঢাকা)</p>
            <p style="color: black; font-size: 16px;"><b>জে.এ.এইচ.এস,গাজীপুর(পলিপাস)</b></p>
            <p style="color: #007BFF; font-size: 15px"> সি.পি রংপুর কমিউনিটি প্যারামেডিক ইন্সটিটিউট<br>এফ.টি বদরগঞ্জ
                উপজেলা স্বাস্থ্য কমপ্লেক্স</p>
            <p style="color: red;font-size:16px ;">জেনারেল প্রাকটিশনার</p>
            <p style="color: darkgreen; font-size: 12px;">মেডিসিন, ডায়াবেটিস, উচ্চ রক্তচাপ, বাত ব্যাথা, পলিপাস রোগে
                অভিজ্ঞ</p>
            <p>মোবাইলঃ ০১৩১৮৯০৫৮৫৭</p>
        </div>
        <div class="header2">
            <p>Dr. Salman Farshi</p>
            <p style="color: #007BFF; font-size: 16px;">B.N.M.C (Dhaka)</p>
            <p style="color: black; font-size: 16px"><b>J.A.H.S, Gazipur (Polypus)</b></p>
            <p style="color: #007BFF; font-size: 15px">C.P Rangpur Community Paramedic Institute<br>F.T Badarganj
                Upazila Health Complex</p>
            <p style="color: red;font-size:16px ;">General Practitioner</p>
            <p style="color: darkgreen; font-size: 12px;">Expert in Medicine, Diabetes, Hypertension, Bones Ache &
                Polypus</p>
            <p>Mobile: 01318905857</p>
        </div>

    </div>

    <div class="details">
        <p>
            <strong>ID:</strong>
            <%= id %>
                <strong>Patient Name:</strong>
                <%= patientName %>
                    <strong>Patient Age:</strong>
                    <%= patientAge %> years
                        <strong>Date:</strong>
                        <%= generatedOn %>
        </p>
    </div>
    <div class="Main">

        <div class="others">
            <p><strong>Chief complaints:</strong>
            <ul>
                <% complaintsList.forEach((complaint)=> { %>
                    <li>
                        <%= complaint %>
                    </li>
                    <% }) %>
            </ul>
            </p>
            <p><strong>On Examinations:</strong>
            <p><strong>BP : </strong>
                <%=bp %> mm(Hg) <strong>Pulse : </strong>
                    <%=pulse %> bpm.<br>
                        <strong>Weight:</strong>
                        <%= weight %>Kg <strong>Temperature:</strong>
                            <%=temperature %>&#x2109;.
            </p>
            <!-- <p><strong>Weight:</strong>
                <%= weight %>Kg <strong>Temperature:</strong>
                    <%=temperature %>&#x2109;.
            </p> -->
            </p>
            <p><strong>Diagnosis:</strong>
                <%= diagnosis %>
            </p>
            <p><strong>Test :</strong>
            <ul>
                <% testList.forEach((test)=> { %>
                    <li>
                        <%= test %>
                    </li>
                    <% }) %>
            </ul>
            </p>
            <p><strong>History :</strong>
            <ul>
                <% historyList.forEach((history)=> { %>
                    <li>
                        <%= history %>
                    </li>
                    <% }) %>
            </ul>
            </p>


        </div>

        <div class="milon">

        </div>
        <div class="Medicine_Info">
            <table class="medicine-table">
                   <p class="rx"><b>R<sub>x</sub></b></p>
                        <% medicines.forEach((medicine)=> { %>
                    <tr id="medicine_name">
                        <td colspan="2">
                            <%= medicine.name %>
                        </td>
                    </tr>

                    <tr id="medicine_rule_days">
                        <td>
                            <%= medicine.rules %>
                        </td>
                        <td>
                            <%= medicine.days %>
                            
                        </td>
                        
                    </tr>
                 
                    <% }) %>
                   

                </tbody>
                
            </table>
            <!-- <p id="signature">
                ................<br><strong>Signature</strong></p> -->
        </div>
    </div>


    <p> <strong>
            <%=nextVisitDate %>
        </strong> দিন পর আবার আসবেন। </p>
    <div class="footer-container">
        <div class="footer1">
            <p style="color:red">চেম্বার:</p>
            <p style="color: darkmagenta;font-size: 10px;">এন এ ফার্মেসী<br>
                শালবাড়ি, বদরগঞ্জ, রংপুর।<br>
                রোগী দেখার সময়:
                প্রতি বৃহস্পতিবার বিকাল ৪ টা হতে রাত ১০ টা ও <br>
                প্রতি শুক্রবার ও শনিবার সকাল ৯ টা হতে দুপুর ১২ টা <br>
                এবং বিকাল ৪ টা হতে রাত ১০ টা পর্যন্ত</p>
        </div>
        <div class="footer2">
            <p style="color:red"><u>আমাদের সেবা সমূহ:</u></p>
            <p style="color: darkmagenta; font-size: 10px;">&#x27A4;বিনা অপারেশনে ন্যাচারাল মেডিসিনের মাধ্যমে পলিপাস
                নির্মূল করা হয় । <br>
                &#x27A4; মেডিসিন, ডায়াবেটিস, উচ্চ রক্তচাপ, বাত ব্যাথা রোগের
                চিকিৎসা ও পরামর্শ প্রদান করা হয়। <br>
                &#x27A4;জেনারেল সার্জারী । <br>
                &#x27A4;এজমা, হাপানি ও শ্বাসকষ্ট রোগীদের নেবুলাইজার মেশিনে
                গ্যাস দেওয়া হয়।<br>
                &#x27A4;ডিজিটাল মেশিনে উচ্চরক্ত চাপ ও ডায়াবেটিস পরীক্ষা করা
                হয়।<br>
                &#x27A4;রক্তের গ্রুপ পরীক্ষা করা হয় ।<br>
                &#x27A4;ডিজিটাল কিট দিয়ে প্রেগনেন্সি পরীক্ষা করা হয়।</p>

            </p>
        </div>

    </div>
    <div class="serial">
        <p><b>সিরিয়ালের জন্য মোবাইল: ০১৭৫৫১৯১১৫৫</b></p>
    </div>
</body>

</html>